:host {
  display: block;
  max-width: inherit;
  width: inherit;
}

.toolbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-btn {
  width: fit-content;

}

.toolbar {
  display: flex;
  gap: 10px;
  box-shadow: 0 15px 10px -15px #111;
  justify-content: center;
}
