:host {
  display: block;
  container-type: inline-size;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100cqw;
}

@container (width > 600px) {
  .container {
    max-width: 60cqw;
  }
}
