.user-icon {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: var(--color);
  color: hsl(from var(--color) h s calc(l - calc(l / 2)));
}
