@keyframes loading {
    from {
        rotate: 0deg;
        right: -12px;
    }
    to {
        rotate: calc(360deg * -2.5);
        right: calc(100% - 12px);
    }
}

.closeButton {
    animation-name: loading;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: paused;
}

.loading {
    animation-play-state: running;
}
