@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.spinner {
  animation: rotate 1s linear infinite;
  opacity: 0.5;
}
