@let task = this.task();
@let localTask = this.localTask || task;
@let isTaskUpdated = task.completed === localTask.completed;

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ task.title }}</mat-panel-title>
    <mat-panel-description>
      <button
        matButton
        (click)="toggleCompleted($event)"
        [style]="isTaskUpdated ? '' : 'opacity: 0.5;'"
      >
        {{ localTask.completed ? "✅" : "❌" }}
      </button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{ task.description }}</p>
</mat-expansion-panel>
